@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  color: #fff;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

#root {
  position: relative;
  height: 100%;
}
